
@import url(https://fonts.googleapis.com/css?family=Montserrat);
html,body {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Button Styles */
.btn-dark {
    color: #fff;
    border: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, .4);
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
}
.btn-light {
    color: #333;
    border: none;
    border-radius: 0;
    background-color: rgb(255, 255, 255);
}
.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255, 255, 255, .8);
}
/* header image and text*/
#header {
	background-color:black;
	background-size: cover;
	position: fixed;
	width: 100%;
	height: 100%;
}
.center {
    background: rgba(0,0,0,0.3);
    text-align: center;
    position: absolute;
    color: #FFFFFF;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }
.middle {
    position: absolute;
    margin-top: -8em;
    right: 0;
    left: 0;
    top: 50%;
	}
.middle>h1{
	font-size:8em;
	color:rgb(0,255,0);
}
.middle>h2{
	font-size:4em;
	color:rgb(0,255,0);
}
#page {
	position: relative;
	top: 100%;
}
/* About */
.safe {
    padding: 50px 0;
	background-color:#65ace7;
	min-height: 500px;
}
.space{
	padding-top:50px;
}
.tsa{
	width: 20%;
	height: auto;
}
.rec {
    padding: 50px 0;
	background-color:#65ace7;
	min-height: 500px;
}
.com {
    padding: 50px 0;
	background-color:#65ace7;
	min-height: 500px;
}
.edu {
    padding: 50px 0;
	background-color:#65ace7;
	min-height: 500px;
}
.ree {
    padding: 50px 0;
	background-color:#65ace7;
	min-height: 500px;
}
.model {
    padding: 50px 0;
}
.maint {
    padding: 50px 0;
}
.spec {
    padding: 50px 0;
}
.info{
	background-color:#65ace7;
}
.info2{
	background-color:#D3917C;
}
.info>h3{
	font-size:2.5em;
}
.info>p{
	font-size:1.25em;
}
.info2>h3{
	font-size:2.5em;
}
.info2>p{
	font-size:1.25em;
}
/*footer*/
footer {
    padding: 50px 0;
	background-color:#65ace7;
}
/* separator */
.divider {
	height:5px;
	background-color:#1A181B;
	z-index:900;
}
.bg-1 {
	background-color:#D3917C;
	min-height: 150px;
}
.bg-2 {
	background: url('img/a1.jpg') no-repeat center ;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	backcolor: #ffffff;
	min-height: 500px;	
}
.bg-3 {
	background: url('img/a2.jpg') no-repeat center ;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	color: #ffffff;
	min-height: 500px;	
}
.bg-4 {
	background: url('img/a3.jpg') no-repeat center ;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	color: #ffffff;
	min-height: 500px;	
}
.bg-5 {
	background: url('img/a4.jpg') no-repeat center ;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	color: #ffffff;
	min-height: 500px;	
}
.textsm {
	display:none;
}
@media (max-width: 950px) {
.textlg {
	display:none;
}
.textsm {
	display:inline;
}

/*fade in Anim.*/
.fade-in {
  animation: fadeIn ease 2.5s;
  -webkit-animation: fadeIn ease 2.5s;
  -moz-animation: fadeIn ease 2.5s;
  -o-animation: fadeIn ease 2.5s;
  -ms-animation: fadeIn ease 2.5s;
}
@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.text-js{
  opacity: 0;
}
.cursor{
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: white;
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}

